-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: ulee_db_merged
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_activity_log`
--

DROP TABLE IF EXISTS `admin_activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_activity_log` (
  `logID` int NOT NULL AUTO_INCREMENT,
  `action` varchar(255) DEFAULT NULL,
  `actorName` varchar(255) DEFAULT NULL,
  `message` varchar(255) DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`logID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_activity_log`
--

LOCK TABLES `admin_activity_log` WRITE;
/*!40000 ALTER TABLE `admin_activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_login_activity`
--

DROP TABLE IF EXISTS `admin_login_activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_login_activity` (
  `id` int NOT NULL AUTO_INCREMENT,
  `deviceLabel` varchar(255) DEFAULT NULL,
  `emailAttempted` varchar(255) DEFAULT NULL,
  `ipAddress` varchar(255) DEFAULT NULL,
  `success` bit(1) DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  `userID` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_login_activity`
--

LOCK TABLES `admin_login_activity` WRITE;
/*!40000 ALTER TABLE `admin_login_activity` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_login_activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_sessions`
--

DROP TABLE IF EXISTS `admin_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `active` bit(1) DEFAULT NULL,
  `deviceLabel` varchar(255) DEFAULT NULL,
  `ipAddress` varchar(255) DEFAULT NULL,
  `lastActiveAt` datetime(6) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `loginAt` datetime(6) DEFAULT NULL,
  `sessionId` varchar(100) DEFAULT NULL,
  `userID` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6cpr8x16dl92jc3l3c8gbw7fl` (`sessionId`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_sessions`
--

LOCK TABLES `admin_sessions` WRITE;
/*!40000 ALTER TABLE `admin_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adminnotificationreads`
--

DROP TABLE IF EXISTS `adminnotificationreads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adminnotificationreads` (
  `id` int NOT NULL AUTO_INCREMENT,
  `eventKey` varchar(100) NOT NULL,
  `readAt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK5ygn34mt83nrt2qf1t58bfbf6` (`eventKey`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adminnotificationreads`
--

LOCK TABLES `adminnotificationreads` WRITE;
/*!40000 ALTER TABLE `adminnotificationreads` DISABLE KEYS */;
INSERT INTO `adminnotificationreads` VALUES (1,'report-6','2026-09-12 12:15:30.501752'),(2,'report-5','2026-09-12 12:15:30.621273'),(3,'report-4','2026-09-12 12:15:30.634277'),(4,'report-3','2026-09-12 12:15:30.646791'),(5,'warning-3','2026-09-12 12:15:30.658790'),(6,'report-1','2026-09-12 12:15:30.668793'),(7,'warning-2','2026-09-12 12:15:30.679792'),(8,'warning-1','2026-09-12 12:15:30.689791');
/*!40000 ALTER TABLE `adminnotificationreads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `adminID` int NOT NULL,
  PRIMARY KEY (`adminID`),
  CONSTRAINT `admins_ibfk_1` FOREIGN KEY (`adminID`) REFERENCES `users` (`userID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (13);
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `amenity`
--

DROP TABLE IF EXISTS `amenity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `amenity` (
  `amenityID` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`amenityID`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `amenity`
--

LOCK TABLES `amenity` WRITE;
/*!40000 ALTER TABLE `amenity` DISABLE KEYS */;
/*!40000 ALTER TABLE `amenity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `applicationID` int NOT NULL AUTO_INCREMENT,
  `studentID` int NOT NULL,
  `propertyID` int NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `applicationDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `fundingStatus` varchar(255) DEFAULT NULL,
  `messageToLandlord` varchar(255) DEFAULT NULL,
  `landlordResponded` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`applicationID`),
  KEY `studentID` (`studentID`),
  KEY `propertyID` (`propertyID`),
  CONSTRAINT `application_ibfk_1` FOREIGN KEY (`studentID`) REFERENCES `students` (`studentID`),
  CONSTRAINT `application_ibfk_2` FOREIGN KEY (`propertyID`) REFERENCES `property` (`propertyID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_document`
--

DROP TABLE IF EXISTS `application_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_document` (
  `documentID` int NOT NULL AUTO_INCREMENT,
  `applicationID` int NOT NULL,
  `fileName` varchar(255) NOT NULL,
  `filePath` varchar(255) DEFAULT NULL,
  `uploadedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`documentID`),
  KEY `applicationID` (`applicationID`),
  CONSTRAINT `application_document_ibfk_1` FOREIGN KEY (`applicationID`) REFERENCES `application` (`applicationID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_document`
--

LOCK TABLES `application_document` WRITE;
/*!40000 ALTER TABLE `application_document` DISABLE KEYS */;
INSERT INTO `application_document` VALUES (4,12,'proof_of_registration.txt','C:\\Users\\Ezile\\Downloads\\2026\\unakho\\ulee-backend\\uploads\\1_test_proof_of_registration.txt','2026-08-29 10:43:52'),(5,16,'Assignment 2.zip','C:\\Users\\Ezile\\Downloads\\2026\\unakho\\ulee-backend\\uploads\\5_1788592557112_Assignment 2.zip','2026-09-05 09:15:57'),(6,20,'Assignment 2.zip','C:\\Users\\Ezile\\Downloads\\2026\\unakho\\ulee-backend\\uploads\\9_1788600499374_Assignment 2.zip','2026-09-05 11:28:20');
/*!40000 ALTER TABLE `application_document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checklistitem`
--

DROP TABLE IF EXISTS `checklistitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checklistitem` (
  `checklistID` int NOT NULL AUTO_INCREMENT,
  `studentID` int NOT NULL,
  `task` varchar(150) DEFAULT NULL,
  `completionStatus` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`checklistID`),
  KEY `studentID` (`studentID`),
  CONSTRAINT `checklistitem_ibfk_1` FOREIGN KEY (`studentID`) REFERENCES `students` (`studentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checklistitem`
--

LOCK TABLES `checklistitem` WRITE;
/*!40000 ALTER TABLE `checklistitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklistitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inquiry`
--

DROP TABLE IF EXISTS `inquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inquiry` (
  `inquiryID` int NOT NULL AUTO_INCREMENT,
  `adminID` int DEFAULT NULL,
  `studentName` varchar(100) DEFAULT NULL,
  `propertyTitle` varchar(150) DEFAULT NULL,
  `inquiryMessage` text,
  `inquiryDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(50) DEFAULT NULL,
  `urgencyFlag` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`inquiryID`),
  KEY `adminID` (`adminID`),
  CONSTRAINT `inquiry_ibfk_1` FOREIGN KEY (`adminID`) REFERENCES `admins` (`adminID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inquiry`
--

LOCK TABLES `inquiry` WRITE;
/*!40000 ALTER TABLE `inquiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `inquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `landlords`
--

DROP TABLE IF EXISTS `landlords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `landlords` (
  `landlordID` int NOT NULL,
  `companyName` varchar(255) DEFAULT NULL,
  `propertiesCount` int DEFAULT '0',
  `verified` bit(1) DEFAULT NULL,
  PRIMARY KEY (`landlordID`),
  CONSTRAINT `landlords_ibfk_1` FOREIGN KEY (`landlordID`) REFERENCES `users` (`userID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `landlords`
--

LOCK TABLES `landlords` WRITE;
/*!40000 ALTER TABLE `landlords` DISABLE KEYS */;
INSERT INTO `landlords` VALUES (9,'Hlomane Properties',37,NULL),(10,'Mnguni Student Lets',2,NULL),(15,'Hlomane Student Housing',37,NULL),(18,'metro',0,_binary '\0'),(19,'NMU',0,_binary '\0');
/*!40000 ALTER TABLE `landlords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `messageID` int NOT NULL AUTO_INCREMENT,
  `senderName` varchar(100) DEFAULT NULL,
  `messageSubject` varchar(150) DEFAULT NULL,
  `messagePreview` varchar(255) DEFAULT NULL,
  `sentDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `readStatus` tinyint(1) DEFAULT '0',
  `type` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`messageID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notificationID` int NOT NULL AUTO_INCREMENT,
  `createdAt` datetime(6) DEFAULT NULL,
  `isRead` bit(1) DEFAULT NULL,
  `landlordID` int DEFAULT NULL,
  `message` text,
  `propertyID` int DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `studentID` int DEFAULT NULL,
  PRIMARY KEY (`notificationID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `panorama_hotspot`
--

DROP TABLE IF EXISTS `panorama_hotspot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `panorama_hotspot` (
  `hotspotID` int NOT NULL AUTO_INCREMENT,
  `label` varchar(255) DEFAULT NULL,
  `pitch` float DEFAULT NULL,
  `sourcePanoramaID` int DEFAULT NULL,
  `targetPanoramaID` int DEFAULT NULL,
  `yaw` float DEFAULT NULL,
  PRIMARY KEY (`hotspotID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `panorama_hotspot`
--

LOCK TABLES `panorama_hotspot` WRITE;
/*!40000 ALTER TABLE `panorama_hotspot` DISABLE KEYS */;
/*!40000 ALTER TABLE `panorama_hotspot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property`
--

DROP TABLE IF EXISTS `property`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property` (
  `propertyID` int NOT NULL AUTO_INCREMENT,
  `landlordID` int NOT NULL,
  `rent` decimal(38,2) DEFAULT NULL,
  `capacity` int NOT NULL DEFAULT '1',
  `status` varchar(255) DEFAULT NULL,
  `isAvailable` tinyint(1) DEFAULT '1',
  `title` varchar(255) DEFAULT NULL,
  `description` text,
  `deposit` decimal(38,2) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `suburb` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `availableFrom` date DEFAULT NULL,
  `rating` decimal(38,2) DEFAULT NULL,
  `reviewCount` int DEFAULT '0',
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `isReported` bit(1) DEFAULT NULL,
  `reportReason` varchar(255) DEFAULT NULL,
  `commuteType` varchar(255) DEFAULT NULL,
  `acceptedFunding` varchar(255) DEFAULT NULL,
  `occupantRestriction` varchar(255) DEFAULT NULL,
  `latitude` decimal(38,2) DEFAULT NULL,
  `longitude` decimal(38,2) DEFAULT NULL,
  PRIMARY KEY (`propertyID`),
  KEY `landlordID` (`landlordID`),
  CONSTRAINT `property_ibfk_1` FOREIGN KEY (`landlordID`) REFERENCES `landlords` (`landlordID`)
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property`
--

LOCK TABLES `property` WRITE;
/*!40000 ALTER TABLE `property` DISABLE KEYS */;
/*!40000 ALTER TABLE `property` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_amenity`
--

DROP TABLE IF EXISTS `property_amenity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_amenity` (
  `propertyID` int NOT NULL,
  `amenityID` int NOT NULL,
  PRIMARY KEY (`propertyID`,`amenityID`),
  KEY `amenityID` (`amenityID`),
  CONSTRAINT `property_amenity_ibfk_1` FOREIGN KEY (`propertyID`) REFERENCES `property` (`propertyID`),
  CONSTRAINT `property_amenity_ibfk_2` FOREIGN KEY (`amenityID`) REFERENCES `amenity` (`amenityID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_amenity`
--

LOCK TABLES `property_amenity` WRITE;
/*!40000 ALTER TABLE `property_amenity` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_amenity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_feature`
--

DROP TABLE IF EXISTS `property_feature`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_feature` (
  `featureID` int NOT NULL AUTO_INCREMENT,
  `propertyID` int NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `displayOrder` int DEFAULT NULL,
  PRIMARY KEY (`featureID`),
  KEY `propertyID` (`propertyID`),
  CONSTRAINT `property_feature_ibfk_1` FOREIGN KEY (`propertyID`) REFERENCES `property` (`propertyID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_feature`
--

LOCK TABLES `property_feature` WRITE;
/*!40000 ALTER TABLE `property_feature` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_feature` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_feature_image`
--

DROP TABLE IF EXISTS `property_feature_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_feature_image` (
  `imageID` int NOT NULL AUTO_INCREMENT,
  `featureID` int NOT NULL,
  `url` varchar(255) NOT NULL,
  `displayOrder` int DEFAULT NULL,
  PRIMARY KEY (`imageID`),
  KEY `featureID` (`featureID`),
  CONSTRAINT `property_feature_image_ibfk_1` FOREIGN KEY (`featureID`) REFERENCES `property_feature` (`featureID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_feature_image`
--

LOCK TABLES `property_feature_image` WRITE;
/*!40000 ALTER TABLE `property_feature_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_feature_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `property_panorama`
--

DROP TABLE IF EXISTS `property_panorama`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `property_panorama` (
  `panoramaID` int NOT NULL AUTO_INCREMENT,
  `imageID` int DEFAULT NULL,
  `isEntryPoint` bit(1) DEFAULT NULL,
  `propertyID` int DEFAULT NULL,
  `roomName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`panoramaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `property_panorama`
--

LOCK TABLES `property_panorama` WRITE;
/*!40000 ALTER TABLE `property_panorama` DISABLE KEYS */;
/*!40000 ALTER TABLE `property_panorama` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `propertyimage`
--

DROP TABLE IF EXISTS `propertyimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `propertyimage` (
  `imageID` int NOT NULL AUTO_INCREMENT,
  `propertyID` int NOT NULL,
  `url` varchar(255) DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `isMain` tinyint(1) DEFAULT '0',
  `displayOrder` int DEFAULT NULL,
  `uploadedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `hasWatermark` tinyint(1) DEFAULT '0',
  `isVR` tinyint(1) DEFAULT '0',
  `caption` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`imageID`),
  KEY `propertyID` (`propertyID`),
  CONSTRAINT `propertyimage_ibfk_1` FOREIGN KEY (`propertyID`) REFERENCES `property` (`propertyID`)
) ENGINE=InnoDB AUTO_INCREMENT=249 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `propertyimage`
--

LOCK TABLES `propertyimage` WRITE;
/*!40000 ALTER TABLE `propertyimage` DISABLE KEYS */;
/*!40000 ALTER TABLE `propertyimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report`
--

DROP TABLE IF EXISTS `report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report` (
  `reportID` int NOT NULL AUTO_INCREMENT,
  `propertyID` int NOT NULL,
  `reporterID` int NOT NULL,
  `reason` varchar(255) NOT NULL,
  `details` text,
  `reportDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(50) DEFAULT 'Open',
  `reviewedBy` int DEFAULT NULL,
  `reviewedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`reportID`),
  KEY `propertyID` (`propertyID`),
  KEY `reporterID` (`reporterID`),
  KEY `reviewedBy` (`reviewedBy`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report`
--

LOCK TABLES `report` WRITE;
/*!40000 ALTER TABLE `report` DISABLE KEYS */;
INSERT INTO `report` VALUES (1,45,9,'No electricity','Property currently has no electricity.','2026-08-25 09:33:49','Pending',NULL,NULL),(2,46,9,'Unsafe / security concern',NULL,'2026-08-25 09:43:46','Pending',NULL,NULL);
/*!40000 ALTER TABLE `report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports`
--

DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports` (
  `reportID` int NOT NULL AUTO_INCREMENT,
  `description` text,
  `propertyID` int DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `reportedAt` datetime(6) DEFAULT NULL,
  `staffID` int DEFAULT NULL,
  `studentID` int DEFAULT NULL,
  PRIMARY KEY (`reportID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports`
--

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review`
--

DROP TABLE IF EXISTS `review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review` (
  `reviewID` int NOT NULL AUTO_INCREMENT,
  `studentID` int NOT NULL,
  `propertyID` int NOT NULL,
  `rating` int NOT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `reviewDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `landlordResponse` varchar(255) DEFAULT NULL,
  `responseDate` datetime DEFAULT NULL,
  `isReported` bit(1) DEFAULT NULL,
  `reportReason` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`reviewID`),
  KEY `studentID` (`studentID`),
  KEY `propertyID` (`propertyID`),
  CONSTRAINT `review_ibfk_1` FOREIGN KEY (`studentID`) REFERENCES `students` (`studentID`),
  CONSTRAINT `review_ibfk_2` FOREIGN KEY (`propertyID`) REFERENCES `property` (`propertyID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review`
--

LOCK TABLES `review` WRITE;
/*!40000 ALTER TABLE `review` DISABLE KEYS */;
INSERT INTO `review` VALUES (2,11,45,4,'Security is excellent, felt very safe here all year.','2026-05-22 09:45:00',NULL,NULL,NULL,NULL),(3,16,83,5,'Amazing place, walking distance to campus and the landlord is super responsive!','2026-08-29 05:07:17',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `reviewID` int NOT NULL AUTO_INCREMENT,
  `cleanlinessRating` int DEFAULT NULL,
  `comment` text,
  `isReported` bit(1) DEFAULT NULL,
  `landlordResponse` varchar(255) DEFAULT NULL,
  `propertyID` int DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `reportReason` varchar(255) DEFAULT NULL,
  `residencyStatus` varchar(255) DEFAULT NULL,
  `responseDate` datetime(6) DEFAULT NULL,
  `reviewDate` datetime(6) DEFAULT NULL,
  `safetyRating` int DEFAULT NULL,
  `studentID` int DEFAULT NULL,
  `studyAreaRating` int DEFAULT NULL,
  `wifiRating` int DEFAULT NULL,
  `yearOfStudy` int DEFAULT NULL,
  PRIMARY KEY (`reviewID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `savedproperty`
--

DROP TABLE IF EXISTS `savedproperty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `savedproperty` (
  `savedID` int NOT NULL AUTO_INCREMENT,
  `studentID` int NOT NULL,
  `propertyID` int NOT NULL,
  `savedStatus` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`savedID`),
  KEY `studentID` (`studentID`),
  KEY `propertyID` (`propertyID`),
  CONSTRAINT `savedproperty_ibfk_1` FOREIGN KEY (`studentID`) REFERENCES `students` (`studentID`),
  CONSTRAINT `savedproperty_ibfk_2` FOREIGN KEY (`propertyID`) REFERENCES `property` (`propertyID`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `savedproperty`
--

LOCK TABLES `savedproperty` WRITE;
/*!40000 ALTER TABLE `savedproperty` DISABLE KEYS */;
INSERT INTO `savedproperty` VALUES (4,16,83,1),(5,21,84,1),(6,22,84,1),(7,23,47,1),(9,23,47,1),(10,23,50,1),(14,23,47,1),(15,23,47,1),(16,23,50,1),(18,23,47,1),(19,23,50,1),(22,23,50,1);
/*!40000 ALTER TABLE `savedproperty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `searchfilter`
--

DROP TABLE IF EXISTS `searchfilter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `searchfilter` (
  `searchID` int NOT NULL AUTO_INCREMENT,
  `studentID` int NOT NULL,
  `queryText` varchar(255) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `priceRange` varchar(50) DEFAULT NULL,
  `propertyRange` varchar(50) DEFAULT NULL,
  `distanceFromCampus` decimal(5,2) DEFAULT NULL,
  `securityLevel` varchar(50) DEFAULT NULL,
  `furnished` tinyint(1) DEFAULT NULL,
  `petFriendly` tinyint(1) DEFAULT NULL,
  `searchDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `resultsCount` int DEFAULT NULL,
  PRIMARY KEY (`searchID`),
  KEY `studentID` (`studentID`),
  CONSTRAINT `searchfilter_ibfk_1` FOREIGN KEY (`studentID`) REFERENCES `students` (`studentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `searchfilter`
--

LOCK TABLES `searchfilter` WRITE;
/*!40000 ALTER TABLE `searchfilter` DISABLE KEYS */;
/*!40000 ALTER TABLE `searchfilter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `studentID` int NOT NULL,
  `yearOfStudy` int DEFAULT NULL,
  `budgetMax` decimal(38,2) DEFAULT NULL,
  `budgetMin` decimal(38,2) DEFAULT NULL,
  `fundingStatus` varchar(255) DEFAULT NULL,
  `housingPreferences` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`studentID`),
  CONSTRAINT `students_ibfk_1` FOREIGN KEY (`studentID`) REFERENCES `users` (`userID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
INSERT INTO `students` VALUES (11,2,4500.00,2000.00,NULL,NULL),(12,3,6000.00,3000.00,NULL,NULL),(16,2,NULL,NULL,NULL,NULL),(17,1,NULL,NULL,NULL,NULL),(20,2,NULL,NULL,NULL,NULL),(21,1,NULL,NULL,NULL,NULL),(22,NULL,NULL,NULL,NULL,NULL),(23,3,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `userID` int NOT NULL AUTO_INCREMENT,
  `password` varchar(255) DEFAULT NULL,
  `firstName` varchar(255) DEFAULT NULL,
  `lastName` varchar(255) DEFAULT NULL,
  `dateOfBirth` date DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `isActive` bit(1) DEFAULT NULL,
  `warningCount` int DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`userID`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-09 18:14:23
